/* ================== VARIABLES =================== */


:root{
    --button-hover: #5fb4a2;
    --button-background-color: #203a4c;
    --main-title: #33323d;
    --main-invalid: #f43030;
    --main-body: #fafafa;
    
}